<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="38229632-feaa-4bea-8904-a93e329f42a8" Publisher="CN=Ross" Version="1.0.0.0" />
  <Properties>
    <DisplayName>HelloWorld</DisplayName>
    <PublisherDisplayName>Ross</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="HelloWorld.App">
      <VisualElements DisplayName="HelloWorld" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="HelloWorld" ForegroundText="light" BackgroundColor="#0000FF">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="clouds.png" BackgroundColor="#0000AA" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>